/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { font-size: 62.5%; overflow-y: scroll; }

body { background-color:rgb(242,242,242); font-weight: 400; font-family: "Julius Sans One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;  color:#303030;
 letter-spacing: 1px; -webkit-font-smoothing: antialiased; color:#505050;}

#map { position:absolute; top:0; bottom:0; width:100%; }


/* Preset Typography*/

h1
{font-size:70px;
color:#505050;
}

h2 {
	font-size: 30px
}

p  {
	font-size: 15px;
  letter-spacing: 0px;
}

a {
  color: #111111;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
}

/*Divs*/

#landing.active #container, #landing.active #title {
	left: 50%;
}

#title {
    width: 300px;
  margin: -160px 0 0 -150px;
  top:50%;
  left: -50%;
  position: fixed;
  padding-bottom:10px;
  text-align: center;2
       -moz-transition: left .9s ease;
    -o-transition: left .9s ease;
    -webkit-transition: left .5s ease;
    transition: left .9s ease;
}

#landing #container {
	width: 300px;
	margin: -20px 0 0 -150px;
	top:50%;
	left: -50%;
	position: fixed;
	padding-bottom:10px;
	text-align: center;
	 -moz-transition: left 3s ease;
  	-o-transition: left 3s ease;
  	-webkit-transition: left 3s ease;
  	transition: left 3s ease;
}

#landing.active #nav_container {left:50%;}

#nav_container {
	position:absolute;
	width:170px;
	bottom:50%;
	left:-50%;
	margin: -100px 0 -180px -85px;
     -moz-transition: left 3s ease;
    -o-transition: left 3s ease;
    -webkit-transition: left 3s ease;
    transition: left 3s ease;
}

/*=================================
			switch Tab
===================================*/
#portfolio.active {
	left:50%;
}

#portfolio {
	width: 600px;
	margin: 0 0 0 -300px;
	top:10%;
	left:-390px;
	position: fixed;
	padding-bottom:10px;
	text-align: center;
		 -moz-transition: left 3s ease;
  	-o-transition: left 3s ease;
  	-webkit-transition: left 3s ease;
  	transition: left 3s ease;
}

#resume.active {
	left:50%;
}

#resume {
	width: 600px;
	margin: 0 0 0 -300px;
	top:10%;
	left:-300px;
	position: fixed;
	padding-bottom:10px;
	text-align: center;
     -moz-transition: left 3s ease;
    -o-transition: left 3s ease;
    -webkit-transition: left 3s ease;
    transition: left 3s ease;
}

#bio.active {
	left:50%;
}

#bio {
	width: 600px;
	margin: 0 0 0 -300px;
	top:10%;
	left:-300px;
	position: fixed;
	padding-bottom:10px;
	text-align: center;
     -moz-transition: left 3s ease;
    -o-transition: left 3s ease;
    -webkit-transition: left 3s ease;
    transition: left 3s ease;
}

#bio p {
    text-align: left;

}

/************************
Tristen's code for icons
*************************/

 .icon {
  width:40px;
  height:40px;
  float:left;
  display:block;
  text-indent:-999em;
  margin-left:20px;
  }

.icon.contact {  background:transparent url(img/email.png) no-repeat 0 0; }
.icon.contact:hover { background:transparent url(img/mailiconhover.png) no-repeat 0 0;}

 
.icon.github {  background:transparent url(img/github.png) no-repeat 0 0;}
.icon.github:hover {  background:transparent url(img/githubhover.png) no-repeat 0 0;}

.icon.twitter {background:transparent url(img/twitter.png) no-repeat 0 0; margin-left: 0px;}
.icon.twitter:hover {background:transparent url(img/twitterhover.png) no-repeat 0 0; margin-left: 0px;}

/*Layerswitcher*/
#links-container {
  position:absolute;
  height:40px;
  bottom:30px;
  left:50%;	
  margin:0px 0px 0px -125px;
}

.layerswitcher li {
 position:relative;
 width:160px;
 float:left;
 padding-top:10px;
 padding-bottom:0px;
}

.layerswitcher a {
  display: block;
  text-decoration: none;
    text-align:center;
    position:relative;
    height:59%;
    width:80px;
    background- color:transparent;
    padding-top:9px;
    padding-bottom:9px;
    color:rgb(80,80,80);
    color:rgba(80,80,80,1);
      -webkit-border-radius: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
  }

.layerswitcher a:hover {
  -webkit-border-radius: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
   -moz-box-shadow:  0px 0px 3px 4px #888;
   -webkit-box-shadow: 0px 3px 4px #888;
   box-shadow: 0px 0px 3px 2px #888;  
  }
  
.layerswitcher a.active {
background-color:rgb(200,200,200);
    color:rgb(80,80,80);
    color:rgba(80,80,80,1);
    border:none;

}

#home-link {
  width: 100px;
  background-color: transparent;
   -webkit-border-radius: 3px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
}


 #home {
  position:absolute;
  top:-50px;
  left: 50%;
  margin:0px 0px 0px -56px;
       -moz-transition: top 3s ease;
    -o-transition: top 3s ease;
    -webkit-transition: top 3s ease;
    transition: top 3s ease;  
 }

#home.active {
  top:0px ;
}


/**********Images/

******/
.image {
  width: 350px;
}

#i1 {
    position:absolute;
  top:70px;
  left: -75px;
}
#i2 {
    position:absolute;
  top:300px;
  left: -75px;
}
#i3 {
    position:absolute;
  top:530px;
  left: -75px;
}
#i4 {
    position:absolute;
  top:70px;
  left: 325px;
}
#i5 {
    position:absolute;
  top:300px;
  left: 325px;
}
#i6 {
    position:absolute;
  top:530px;
  left: 325px;
}